#buttons > a:hover {
    background-color: rgba(200, 200, 200, 0.3);
    border: 2px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
}

#underTopBar > div:first-child > div:nth-child(n + 2):hover{
    background-color: rgba(200, 200, 200, 0.3);
    border: 1px solid rgba(200, 200, 200, 0.3);
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
}

input, textarea {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
}

textarea {
    resize: none;
}

.boldC {
    font-weight: bold;
}

tr:nth-child(n + 2):hover {
    background-color: rgba(200, 200, 200, 0.3);
}

.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formError {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.4em;
}

.formError:active {
    padding: 0.5em;
}

#central {
    border: 3px green solid;
    position: relative;
    width: 85%;
    height: 100%;
}

#container {
    font-family: Arial, Helvetica, sans-serif;
}

#topBar {
    border: 3px green solid;
    border-radius: 3px;
    margin: -0.5em;
    display: flex;
}

#titleDiv {
    width: 20%;
}

#appTitle {
    font-size: 600%;
    margin-top: 0.05em;
    margin-bottom: 0.05em;
    margin-left: 0.5em;
}

#buttons {
    position: relative;
    width: 80%;
}

#buttons>a {
    display: inline;
    float: right;
    margin-top: 85px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: bold;
}

#buttons:last-child {
    margin-right: 20px;
}


/*-------------*/

#underTopBar {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: -0.5em;
    margin-top: 0.4em;
}

#menu {
    border: 3px green solid;
    width: 15%;
    height: 100%;
    margin-right: -0.1em;
    text-align: center;
}

#menu>div>h3 {
    text-decoration: none;
    font-size: 250%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#menu>div>a {
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    color: black;
}

#menu>div:nth-child(n + 2) {
    margin-top: 4%;
}