/*center area styles*/

input[type=checkbox]{
    -moz-transform: scale(1.8);
    margin-right: 20px;
}

.redLabel {
    color: red;
}

.greenLabel {
    color: green;
}

#wycieczkaTable {
    margin-top: 2%;
    margin-left: 7%;
    text-align: left;
    width: 35%;
    display: inline-block;
}

#pozycjeWycieczkiDiv {
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

#opisDiv {
    margin-top: 2%;
    margin-left: 7%;
    text-align: left;
}

#opisTextArea {
    text-align: left;
    margin-top: 10px;
}

#titleTitleDiv {
    display: inline-block;
    width: 60%;
}

#titleTitleDiv > h2 {
    text-align: right;
}

#checkboxDiv {
    display: inline-block;
    width: 25%;
    margin-left: 13%;
    font-size: 27px;
    font-weight: bold;
}

/*table {*/
    /*position: relative;*/
    /*margin: 0 auto;*/
/*}*/

th {
    font-size: 180%;
}

td {
    font-size: 110%;
    width: 270px;
}

#central {
    border: 3px green solid;
    position: relative;
    width: 85%;
    height: 100%;
}

#formTitle {
    text-align: center;
    text-decoration: none;
    font-size: 250%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#opisDiv > label{
    display: inline-block;
    float: left;
}

#opisTextArea {
    margin-left: 4px;
    float: left;
    text-align: left;
}

#searchInput {
    border-radius: 5px;
    width: 50%;
}

form > div > label {
    display: inline-block;
    width: 200px;
    margin-right: 5%;
}

#pozycjeWycieczkiTable th {
    font-size: 18px;
}

#pozycjeWycieczkiTable tr td {
    font-size: 15px;
}

#pozycjeWycieczkiTable tr td:nth-child(n + 2){
    border-left: 1px solid darkgray;
}

#pozycjeWycieczkiTable tr td:nth-child(n + 1){
    border-top: 1px solid darkgray;
}


#pozycjeWycieczkiTable tr td:-moz-first-node {
    width: 30px;
}
