/*center area styles*/

table tr {
    cursor: pointer;
}

table {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

th {
    font-size: 180%;
}

td {
    font-size: 110%;
    width: 270px;
}

#central {
    border: 3px green solid;
    position: relative;
    width: 85%;
    height: 100%;
}

#formTitle {
    text-align: center;
    text-decoration: none;
    font-size: 250%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#opisDiv > label{
    display: inline-block;
    float: left;
}

#opisTextArea {
    margin-left: 4px;
}

#searchInput {
    border-radius: 5px;
    width: 50%;
}

form > #regionDiv, #grupaGorskaDiv, #punktPoczatkowyDiv, #punktKoncowyDiv, #punktyDiv, #opisDiv {
    margin-top: 2%;
    margin-left: 7%;
}

form > div > label {
    display: inline-block;
    width: 200px;
    margin-right: 5%;
}

#selectTrasy {
    margin-left: 2%;
}