/*center area styles*/

#trasaNazwaDiv {
    text-align: center;
}

#central {
    border: 3px green solid;
    position: relative;
    width: 85%;
    height: 100%;
}

#formTitle {
    text-align: center;
    text-decoration: none;
    font-size: 250%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#searchDiv{
    text-align: center;
    height: 70px;
}

.lupa {
    width: 30px;
    height: 30px;
    box-shadow: none;
}

.lupa:hover {
    background-color: #a5ecff;
    border-radius: 3px;
}

#span {
    position: relative;
    z-index: 2;
    margin-right: -40px;
}

#searchInput {
    border-radius: 5px;
    padding-left: 40px;
    /*width: 50%;*/
    /*background: url("../images/lupa.png") no-repeat scroll;*/
    /*background-size: 20px 20px;*/
    width: 130px;
    height: 40px;
    font-size: large;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchInput:focus {
    width: 50%;
}

form > #regionDiv, #grupaGorskaDiv, #punktPoczatkowyDiv, #punktKoncowyDiv, #punktyMinDiv, #punktyMaxDiv {
    margin-top: 2%;
    margin-left: 7%;
}

form > div > label {
    display: inline-block;
    width: 200px;
    margin-right: 5%;
}